@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Nunito", sans-serif;
}

.sticky-top {
    background-color: white;
}

h1 {
    color: #ff6e14;
    font-weight: 800;
}

.btn {
    background-color: #ff6e14;
    color: white;
}

.btn:hover {
    background-color: #ff6e14;
    color: white;
}


a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #ff6e14;
    text-underline-offset: 10px;
}

.form-container {
    width: 75%;

    @media (max-width:430px) {
        width: 100%;
    }
}

footer {
    background-color: #2b3441;
}