/* Import de la font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Import du CDN icons de Bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body {
    font-family: "Nunito", sans-serif;
}

.sticky-top {
    background-color: white;
}

.navbar-nav {
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: center;
    gap: 1em;

    @media (max-width:430px) {
        display: flex;
        justify-content: end;
        align-items: start;
        gap: 0;
    }
}

h1 {
    color: #ff6e14;
    font-weight: 800;
}

h1>a {
    text-decoration: none;
    color: #ff6e14;
}

.title-color:hover {
    text-decoration: none;
}


.btn {
    background-color: #ff6e14;
    color: white;
}

.btn:hover {
    background-color: #ff6e14;
    color: white;
}

.person-icon {
    font-size: 5em;
}

li>a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #ff6e14;
    text-underline-offset: 10px;
}

.form-container {
    width: 75%;

    @media (max-width:430px) {
        width: 100%;
    }
}


footer {
    background-color: #2b3441;
}

.displayContainer {
    display: flex;
    margin-top: 3em;
    gap: 5em;

    @media (max-width: 430px) {
        display: block;
    }
}

.imgContainer {
    width: auto;
    max-width: 500px;

    @media (max-width: 430px) {
        width: 80%;
    }
}

.error-404 {
    color: #ff6e14;
    font-size: 3em;
    font-weight: bold;
}

.error-perdu {
    color: black;
    font-size: 2.5em;
    font-weight: bold;
}

.error-rayons {
    color: #ff6e14;
    font-size: 2.5em;
    font-weight: bold;
}


/* Supprimer les flèches du champ input number sur Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

/* Supprimer les flèches du champ input number sur Firefox */
input[type=number] {
    -moz-appearance: textfield;
    /* ancien support */
    appearance: textfield;
    /* standard */
}